**/node_modules
**/.next
**/.git
**/build
# Re-include fat JARs and config needed for Docker builds
!services/*/build/libs/*-all.jar
!services/*/config
!apps/portal/.next
**/*.hprof
**/*.log
**/replay_pid*
**/hs_err_pid*
**/.gradle
**/.kotlin
**/gradle
**/gradlew
**/gradlew.bat
idk
# Re-include the built SDK packages needed by portal
!idk/lib/conf/theme/react/package.json
!idk/lib/conf/theme/react/dist
!idk/lib/conf/theme/react/src
!idk/lib/ui/react/package.json
!idk/lib/ui/react/dist
!idk/lib/ui/react/src
data/*/build
